name: ci

permissions:
  id-token: write

on:
  push:
    branches:
      - 'main'
      - 'beta'
  pull_request: {}

jobs:
  build_test_release:
    permissions:
      id-token: write # to enable use of OIDC (npm trusted publishing and provenance)
      actions: write #  to cancel/stop running workflows (styfle/cancel-workflow-action)
      contents: write #  to create release tags (cycjimmy/semantic-release-action)
      issues: write # to post release that resolves an issue (cycjimmy/semantic-release-action)
      pull-requests: write # to be able to comment on released pull requests
    strategy:
      matrix:
        node-version: ${{ fromJSON((github.ref == 'refs/heads/main' || github.ref == 'refs/heads/beta') && '[22]' || '[22, 20]') }}
        os: ${{ fromJSON((github.ref == 'refs/heads/main' || github.ref == 'refs/heads/beta') && '["ubuntu-latest"]' || '["ubuntu-latest", "windows-latest"]') }}
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5
      - name: use Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: npm install
      - name: test
        run: npm run test
      - name: build
        run: npm run build
      - name: Release
        if: github.repository == 'timdeschryver/ngrx-immer' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/beta')
        uses: cycjimmy/semantic-release-action@v5
        with:
          semantic_version: 25
          working_directory: './dist'
          branches: |
            [
              'main',
              {name: 'beta', prerelease: true},
            ]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
